/* style.css*/
body{
    background-color: rgb(245, 248, 249);
    font-family: Arial, sans serif;
}

h1{
    color: darkblue;
    text-align: center;
}

h2{
    color: red;
}

.navbar{
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li{
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
img {
    display: block;
    margin-left: left;
    margin-right: auto;
    width: 50%;
    max-width: 100%;
    height: auto;
  }
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

a:link, a:visited {
    background-color: yellowgreen;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: green;
    color: white;
  }
  button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}
